{% extends "base_2.html" %}

        {% block head_block %} 
            <!--<script type="text/javascript">
               function formValidate(){
                    if( document.addRCSuccess.rcId.value == "" || document.addRCSuccess.rcId.value == null)
                 {
                    alert( "Please provide Remote Center Id!" );
                    return false;
                 }
                 if( document.addRCSuccess.seats.value == "" || document.addRCSuccess.seats.value ==null)
                 {
                    alert( "Please provide Available Seats!" );
                    return false;
                 }
                 if( document.addRCSuccess.acco.value == "" || document.addRCSuccess.acco.value ==null)
                 {
                    alert( "Please provide Available Accomodation!" );
                    return false;
                 }
                 return( true );
                }
            </script>-->
            <script type="text/javascript">
            function formReset() {
            //document.getElementById("updateRCSuccess").reset();
            location.reload();
            }
            </script>
            <script type="text/javascript">
            $(document).ready(function(){
                $('#rcId').parent().removeClass('is-invalid');
            });
            </script>
        {% endblock %}

    {% block body_block %}
        <h1 style="color: #1E90FF;font-size: 200%; text-align:center;">{{addNEWRC_heading}}</h1>
        <div id="workshopname">
        <h1 style="font-size:150%; text-align: center;">{{workshopname}}</h1>
        <p style="font-size:150%; text-align: center;">{{startdate}} to {{enddate}}</p>
        </div>
        <div class="tcube-be-together-section mdl-typography--text-center">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--2-col"></div>
                <div class="mdl-cell mdl-cell--3-col">
                    <h1 style="font-size: 180%;">{{addNewRC_subheading}} </h1>
                    <form action="{%url 'manageRCCapacity:addRC' workshopId %}" method='POST' name='addRCSuccess' id='addRCSuccess'>
                        {% csrf_token %}
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" name="workshopId" id="workshopId" value={{workshopId}} required readonly>
                            <label class="mdl-textfield__label" for="sample1" style="font-size:100%;">{{addNewRC_workshopid}}</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" name="rcId" id="rcId" pattern="-?[0-9]*(\.[0-9]+)?" required autocomplete="off" required/>
                            <label class="mdl-textfield__label" for="sample2" style="font-size:100%;">{{addNewRC_rcid}}</label>
                            <span class="mdl-textfield__error">{{number_validation}}</span>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" name="seats" id="seats" pattern="-?[0-9]*(\.[0-9]+)?" required autocomplete="off"/>
                            <label class="mdl-textfield__label" for="sample3" style="font-size:100%;">{{addNewRC_seats}}</label>
                            <span class="mdl-textfield__error">{{number_validation}}</span>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" name="acco" id="acco" pattern="-?[0-9]*(\.[0-9]+)?" required autocomplete="off"/>
                            <label class="mdl-textfield__label" for="sample4" style="font-size:100%;">{{addNewRC_acco}}</label>
                            <span class="mdl-textfield__error">{{number_validation}}</span>
                        </div>
                        {% if cc != 5 %}
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" name="accoCost" id="accoCost" pattern="-?[0-9]*(\.[0-9]+)?" required autocomplete="off"/>
                            <label class="mdl-textfield__label" for="sample5" style="font-size:100%;">{{addNewRC_accoCost}}</label>
                            <span class="mdl-textfield__error">{{number_validation}}</span>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input class="mdl-textfield__input" type="text" name="foodCost" id="foodCost" pattern="-?[0-9]*(\.[0-9]+)?" required autocomplete="off"/>
                            <label class="mdl-textfield__label" for="sample6" style="font-size:100%;">{{addNewRC_foodCost}}</label>
                            <span class="mdl-textfield__error">{{number_validation}}</span>
                        </div>
                        {% endif %}
                        <br/><br/>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                            {{btn_submit}}
                        </button>
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" type="button" onclick="formReset()">
                            {{btn_reset}}
                        </button>
                    </form>
                </div>
                <div class="mdl-cell mdl-cell--3-col"></div>
                <div class="mdl-cell mdl-cell--2-col">
                    <div class="demo-card-square mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__actions mdl-card--border mdl-color--our-green">
                            <p class="title-white">Important News</p>
                        </div>
                        <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                            Test News .. 
                        </div>             
                    </div>
                    <br/>
                    <div class="demo-card-square mdl-card mdl-shadow--2dp">
                        <div class="mdl-card__actions mdl-card--border mdl-color--our-green">
                            <p class="title-white">Important News</p>
                        </div>
                        <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                            Test News .. 
                        </div>             
                    </div>
                </div>
            </div>
        </div>    
         {% endblock %}
    