{% extends "base_2.html" %}

    {% block head_block %}  <!-- head block starts here -->               
        <script>
            function changeWorkshopId(obj){
                //var urlString = "http://127.0.0.1:8000/manageRCCapacity/manageRCCapacity.html/";
                var urlString=window.location.href;
                var selectedWorkshop = obj.options[obj.selectedIndex];
                if (selectedWorkshop.value != -1){
                    //window.location = urlString + selectedWorkshop.value;
                    location.href = urlString + selectedWorkshop.value;
                }
            }
        </script>
    {% endblock %}

     {% block body_block %}
                <div class="tcube-be-together-section mdl-typography--text-center">

                    <div class="mdl-grid">
                        <div class="mdl-cell mdl-cell--12-col">
    <h1 style="color: #1E90FF;font-size: 220%;text-align: center;">{{manageRC_heading}}</h1>
    <br>
    
    <div style="width: auto; margin-bottom: 30px; text-align: left; border: 1px solid black;padding: 10px;">
    <label><b>{{manageRC_selectWS}}</b></label>
    <select id="workshopid" onchange="changeWorkshopId(this)">
                <option value="-1">{{manageRC_selectWS}}</option>
        {% for obj in objects %}
                <!--<option value="500001">500001 -- Test Workshop</option>
                <option value="500002">500002 -- Test Workshop</option>
		<option value="500004">500004 -- Test Workshop</option>-->
        <option value="{{obj.workshopid}}">{{obj.workshopid}}--{{obj.workshopname}}</option>
        {% endfor %}
    </select>
    
    </div>
    </div>
    </div>
    </div>
    {% endblock %}
	

