{% extends "ws_base.html" %}
{% load staticfiles %}

{% block title %}Workshop Status Summary{% endblock %}


{% block content %} 
<style>
     
    table {
    	
        display: block;
    }
    
 </style> 
<div  style="padding: 5px;width:100%;max-width:100%;" >
            <div style="padding-left: 15px; padding-right: 15px; text-align: center;color:#4775d1;"><h3 id="heading_name"><b>Remote Center Wise Summary Report</b> </h3></div>

            <div style="text-align: center; margin-top: 0px;">

                <p>

                <form method="GET">
                {% csrf_token %}
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span style="font-size: 15px;">Group By Criteria :</span>
                   <select id="criteria" onchange="onRCWiseCriteriaChange(this.value)">
                        <option value="-1">-- select the type--</option>
                        <option value="gender">Gender-Wise</option>
                        <option value="experience">Experience-Wise</option>
                        <option value="qualification">Qualification-Wise</option>
                        <option value="all">All</option>
                    </select>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <span style="font-size: 18px;">Start Year(MM/dd/YYYY):<sup><i class="material-icons" style="font-size: 18px; color : red;">star</i></sup></span>
                    
                    <input type="date" style="width: 100px; background: white; border: none;"  id="datepicker1" name="startdate" onblur="">
                    &nbsp;&nbsp;
                    <span style="font-size: 18px;">End Year(MM/dd/YYYY) :<sup><i class="material-icons" style="font-size: 18px; color : red;">star</i></span>
                    <input type="date" style="width: 100px; background: white; border: none;"  id="datepicker2" name="enddate" onblur="">
                    
                    &nbsp;&nbsp;
                    <input id="sbutton"  type="submit" value="search" /><br><br>

                    <br><br><br>
                    <span style="font-size: 18px;">Export Excel</span> <button class="btn btn-success" id="btnExport" onclick="remote_centre_fnExcelReport();"><img style="height:35px;width:35px" src="{% static 'images/excel.png' %}"/></button>
                    <iframe id="txtArea1" style="display:none"></iframe>
                     </form>
                </p>
            </div>
             <div style="width:95%;max-width:95%;background:#FFF;overflow:none;" >
            <div id="typeall" >
                <table id="mytable" style="width:90%;max-width:90%;overflow-x:scroll;">
                    <thead id="tablehead" name="tablehead">
                        <tr>
                            <th colspan="4"></th>
                            <th colspan="3">Summary</th>
                            <th colspan="3">Gender</th>
                            <th colspan="4">Experience</th>
                            <th colspan="5">Qualification</th>
                    
                        </tr>
                        <tr>
                            <th id="wid">RCID</th>
                            <th>Remotecenter Name</th> 
                            <th id="wid">State</th> 
                            <th id="wid">City</th> 
                            <th>No of Work shops</th> 
                            <th>No of Institute </th> 
                            <th>Total Participants</th> 
                            <th>M</th> 
                            <th>F</th> 
                            <th>Other</th> 
                            <th> < 2</th> 
                            <th>2-10</th> 
                            <th>>10</th>                      
                            <th>Unknown</th>  
                            <th>Doc torate</th> 
                            <th>Post grad.</th> 
                            <th>Grad.</th> 
                            <th>Dip.</th> 
                            <th>Others</th> 
                    
                        </tr>
                    </thead>
                    <tbody id="mytable" name="tablebody">
                        {% for each in result %}
                            <tr>
                                <td>{{ each.0 }}</td>
                                <td>{{ each.1 }}</td>
                                <td>{{ each.2 }}</td>
                                <td>{{ each.3 }}</td>
                                <td>{{ each.4 }}</td>
                                <td>{{ each.5 }}</td>
                                <td>{{ each.6 }}</td>
                                <td>{{ each.7 }}</td>
                                <td>{{ each.8 }}</td>
                                <td>{{ each.9 }}</td>
                                <td>{{ each.12 }}</td>
                                <td>{{ each.13 }}</td>
                                <td>{{ each.14 }}</td>
                                <td>{{ each.11 }}</td>
                                <td>{{ each.15 }}</td>
                                <td>{{ each.16 }}</td>
                                <td>{{ each.17 }}</td>
                                <td>{{ each.18 }}</td>
                                <td>{{ each.19 }}</td>
                            </tr>
                            {% endfor %} 
                        </tbody>
                </table>
              </div>
              <div id="typegender" style=" display: none;">
                <table id="mytable1"  align="center" >
                    <thead id="tablehead" name="tablehead">
                        <tr>
                            <th>RC ID</th>
                            <th>Remote Center Name</th>
                            <th>State</th>
                            <th>City</th>
                            <th>Male</th>
                            <th>Female</th>
                            <th>Other</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody id="mytable1" name="tablebody">
                        {% for each in result %}
                            <tr>
                                <td>{{ each.0 }}</td>
                                <td>{{ each.1 }}</td>
                                <td>{{ each.2 }}</td>
                                <td>{{ each.3 }}</td>
                                <td>{{ each.7 }}</td>
                                <td>{{ each.8 }}</td>
                                <td>{{ each.9 }}</td>
                                <td>{{ each.10 }}</td>
                            {% endfor %} </tr>
                        </tbody>
                      </table>
                    </div> 

                <div id="typeexperience" style=" display: none;">
                <table id="mytable2"   align="center" >
                    <thead id="tablehead" name="tablehead">
                        <tr>
                            <th>RC ID</th>
                            <th>Remote Center Name</th>
                            <th>State</th>
                            <th>City</th>
                            <th>Less Than 2</th>
                            <th>2 to 10</th>
                            <th>Greater than 10</th>
                            <th>Unknown </th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody id="mytable2" name="tablebody">
                        {% for each in result %}
                            <tr>
                                <td>{{ each.0 }}</td>
                                <td>{{ each.1 }}</td>
                                <td>{{ each.2 }}</td>
                                <td>{{ each.3 }}</td>
                                <td>{{ each.12 }}</td>
                                <td>{{ each.13 }}</td>
                                <td>{{ each.14 }}</td>
                                <td>{{ each.11 }}</td>
                                <td>{{ each.10 }}</td>
                            {% endfor %} </tr>
                            </tbody>
                          </table>                          
                </div>
                <div id="typequalification" style="display: none;">
                <table id="mytable3"  align="center"  >
                    <thead id="tablehead" name="tablehead">
                        <tr>
                            <th>RC ID</th>
                            <th>Remote Center Name</th>
                            <th>State</th>
                            <th>City</th>
                            <th>Doctorate</th>
                            <th>Postgraduate</th>
                            <th>Graduate</th>
                            <th>Diploma</th>
                            <th>Others</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody id="mytable3" name="tablebody">
                        {% for each in result %}
                            <tr>
                                <td>{{ each.0 }}</td>
                                <td>{{ each.1 }}</td>
                                <td>{{ each.2 }}</td>
                                <td>{{ each.3 }}</td>
                                <td>{{ each.15 }}</td>
                                <td>{{ each.16 }}</td>
                                <td>{{ each.17 }}</td>
                                <td>{{ each.18 }}</td>
                                <td>{{ each.19 }}</td>
                                <td>{{ each.10 }}</td>
                            {% endfor %} </tr>
                        </tbody>
                        </table>
                  </div>
                  
                <div id="typegeographical" style=" display: none;">
                <table id="mytable5" >
                    <thead id="tablehead" name="tablehead">
                        <tr>
                            <th>RC ID</th>
                            <th>Remote Center Name</th>
                            <th>State</th>
                            <th>City</th>
                            <th>No of Workshops</th>
                            <th>No of Institute </th>
                            <th>No of Participants</th>

                        </tr>
                    </thead>
                    <tbody id="mytable5" name="tablebody">
                        {% for each in result %}
                            <tr>
                                <td>{{ each.0 }}</td>
                                <td>{{ each.1 }}</td>
                                <td>{{ each.2 }}</td>
                                <td>{{ each.3 }}</td>
                                <td>{{ each.4 }}</td>
                                <td>{{ each.5 }}</td>
                                <td>{{ each.6 }}</td>
                            {% endfor %} </tr>  
                            </tbody>
                   </table>
                   </div>  
                   </div>           
</div>        

{% endblock %} 
