{% extends "ws_base.html" %}
{% load staticfiles %}

{% block title %}Workshop Status Summary{% endblock %}


{% block content %} 
<style type="text/css">
td,th{
	text-align:left;
}
</style>
<div  style="padding: 5px;width:100%;max-width:100%;" >
            <div style="padding-left: 15px; padding-right: 15px; text-align: center;color:#4775d1;"><h3 id="heading_name"><b></b> </h3></div>

            <div style="text-align: center; margin-top:  0px;">

                <p>

					<span style="font-size: 18px;">Export Excel</span> <button class="btn btn-success" id="btnExport" onclick="fnExcelReport();"><img style="height:35px;width:35px" src="{% static 'images/excel.png' %}"/></button>
                    <iframe id="txtArea1" style="display:none"></iframe>
            <h5>Choose Type: <a href="{% url 'report:total_ws_by_participant_wise' %}" >Participant Wise</a> | <a href="{% url 'report:total_ws_by_institute_wise' %}" >Institute Wise</a></h5>   
                </p>
            </div> 
            

                <div id="typeinstitute" style="overflow: scroll; overflow-y: hidden;">
                <table id="mytable" >
                    <thead id="tablehead" name="tablehead">
                        
                        <tr>
                            <th >Sr.No</th>
                            <th id="wid" >Institute Id</th>
                            <th >Institute Name</th>
                            <th >Number of Workshops Attended</th>
                        
                        </tr>
                    </thead>
                    <tbody id="mytable" name="tablebody">
                        {% for each in result %}
                            <tr>
                                <td >{{ forloop.counter }}</td>
                                <td >{{ each.1 }}</td>
                                <td >{{ each.2 }}</td>
                                <td >{{ each.0 }}</td>
                            </tr>
                             {% endfor %}
                            </tbody>
                            </table>
                </div>    

</div>   
{% endblock %}                  
